@media screen and ( max-width : 480px ) {

  .filter-btns {
    align-items: center;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin: 0.5rem;
  }

  .filter-btns .btn {
    background-color: red;
    border: 1px solid black;
    box-shadow: 1px 3px 5px black;
    color: white;
    font-weight: 500;
    margin: 0.3rem;
  }

  .recipe-card-main-container {
    align-items: center;
    display: flex;
    flex-flow: wrap;
    height: 100%;
    justify-content: center;
    margin: 1rem;
    overflow: scroll;
    padding-bottom: 15rem;
    position: absolute;
  }

  .recipe-card-main-container a {
    align-items: center;
    color: black;
    display: flex;
    flex-direction: column;
    margin: 0.43rem;
    position: relative;
    text-align: center;
    text-decoration: none;
  }

  .recipe-card-main-container a img {
    border-radius: 100%;
    box-shadow: 1px 3px 5px black;
    height: 100px;
  }

  .recipe-card-main-container .recipe-card {
    align-items: flex-end;
    border-radius: 20px;
    box-shadow: 2px 5px 10px black;
    display: flex;
    height: 120px;
    justify-content: center;
    margin-top: -50px;
    padding-bottom: 15px;
    width: 150px;

  }

}
