.recomend-main-container {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  overflow-y: hidden;
  scrollbar-width: none;
  width: 100vw;
}

.recomend-main-container::-webkit-scrollbar {
  display: none;
}

.recomend-main-container img {
  margin-right: 2rem;
}

@media screen and (min-width: 1024px) {
}
